#criar-tarefa {
    width: 60px;
    height: 35px;
    font-size: small;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10%;
    margin-left: 60px;
}

.gray {
    background-color: rgb(128, 128, 128);
}

.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}

#apaga-tudo {
    margin-top: 10px;
    background-color: red;
    border-radius: 10%;
}



#remover-finalizados {
    margin-top: 10px;
    background-color: yellow;
    border-radius: 10%;
    display: inline-block;
    margin-right: 30px;
}